/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

h4 {
  font-weight: 700;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

nav {
  background-color: white;
  height: 70px;
  color: #686868;
  vertical-align: middle;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  position:relative;
}



nav li {
  text-transform: uppercase;
  display: inline-block;
  float: left;
  padding: 26px 5px;
}

nav li:hover {
  color: black;
}

.login-box a:hover {
  text-decoration: underline;
}

h1{
  font-weight: 700;
  font-size: 26px;
}

nav h1 {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  float: left;
  color: #0083d5;
  padding: 20px;
}

h3 {
  font-size: 24px;
}

.dropbtn {
  border: none;
  cursor: pointer;
  color: #404040;
  vertical-align: middle;
}

.bottom-info {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 40px 0px;
  text-align: center;
  color: #404040;
  height:

}

.bottom-info>div {
  width: 250px;
}

.bottom-info p {
  font-size: 14px;
}

.logo {
  display: inline-block;
  float:left;
  padding: 12px 10px 0 10px;
}

.nav-dropdown-content li {
    color: #404040;
    width:100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;

}

/*.nav-dropdown-content li:hover {
  color: black;
}*/

.buttonify {
  display: inline-block;
  border-radius: 5px;
  background-color: #B5DC2D;
  color: white;
  padding: 5px 10px;
  margin: 0 10px;
}

.buttonify:hover {
  display: inline-block;
  border-radius: 5px;
  background-color: #94bb0f;
  color: white;
  padding: 5px 10px;
  margin: 0 10px;
}


.nav-user-container {
  float: right;
  padding: 13px 10px;
  display: inline-block;
  list-style: none;
  position: relative;
}

.nav-login-container {
  float: right;
  padding: 21px 10px;
  display: inline-block;
  text-transform: uppercase;;
}


.nav-user-container:hover div {
  color: black;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  top: 70px;
  background-color: #F0F0F0;
    }

.nav-user-container:hover .nav-dropdown-content {
    display: block;
}


footer {
  display: block;
}

nav.footer-nav {
  width: 100%;
}

.main-container {

  display: inline-block;
  height: 600px;
  width: 100%;
  background: url("https://res.cloudinary.com/dznf6puuv/image/upload/v1467220201/runners_fuz38f.jpg") no-repeat center center scroll;
  background-size: cover;
}

.welcome-message{
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.welcome {
  float: right;
  text-align: left;
  width: 50%;
  padding: 50px 50px 0 0;
  line-height: 1.5;
}


input, textarea, select, button {
 border: 1px solid #c3c2c2;
   border-radius: 5px;
   font-size: 14px;
   line-height: 40px;
   margin: 15px 0;
   padding: 0 5px;

   box-sizing: border-box;
}


.guest {
  background-color: #0083d5;
  border: none;
  color: white;
}

.guest:hover {
  background-color: #006eb3;
  cursor: pointer;

}


textarea {
  line-height: 1.15;
  width: 100%;
  /*height: 100px;*/
}

select, input {
   height: 40px;
}

input.submit {
  border: 0px;
  background-color: #ffaf1a;
}

input.submit:hover {
  border: 0px;
  background-color: #e69500;
  cursor: pointer;
}

input.cancel {
border: 0px;
background-color: red;
}

input.logout-button {
  margin: 5px 0;
  width: 60px;
  height: 20px;
  line-height: 14px;
}

.dash-header {
  margin: 10px;
}

.map {
  width: 500px;
  height: 400px;
  display: inline-block;
  float: left;

}

.pad-butt {
  margin: 10px 10px 0 0;
}


.direction-panel {
    float: left;
    display: inline-block;
    width: 40%;
    margin: 20px;
}

.map-thumb {
  width: 125px;
  height: 125px;
  display: inline-block;
  float: right;
  margin: 10px;
  border: 1px solid lightgrey;

}


.route-description {
  display: inline-block;
  float: left;
  width: 200px;
}


.detail-description {
  display: block;
  margin: 20px;
  line-height: 1.5;
}


.detail-button {
  display: inline-block;
  margin: 0 0 0 10px;
}

.user-thumb {
  height: 40px;
  width: 40px;
  margin: 0 10px 0px 0;
  border-radius: 20px;
  border: 1px solid darkgrey;
}



.solid-back {
  background-color: gainsboro;
}
