/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Open Sans', sans-serif;  font-size: 100%;
}

nav {
  background-color: #002d72;
  height: 70px;
  color: white;
  vertical-align: middle;
}

nav li {
  display: inline-block;
  float: left;
  padding: 10px;
}

h1{
  font-weight: 700;
  font-size: 30px;
}

nav h1 {
  display: inline-block;
  float: left;
  padding: 15px;
}

h3 {
  font-size: 24px;
}

.nav-dropdown {
  float: right;
}

.main-container {

  display: inline-block;
  height: 500px;
  width: 100%;
  background: url("http://res.cloudinary.com/dznf6puuv/image/upload/v1467220201/runners_fuz38f.jpg") no-repeat center center fixed;
  background-size: cover;
}

.welcome-message{
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.welcome {
  float: right;
  text-align: left;
  width: 50%;
  padding: 50px 50px 0 0;
  line-height: 1.5;
}
