.login-box {
  background-color: rgba(17,17,17,0.75);
  border-radius: 8px;
  color: white;
  width: 350px;
  min-height: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.login-box input {
  border: 1px solid #c3c2c2;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 15px 0;
    width: 100%;
    padding: 0 5px;

    box-sizing: border-box;
}



.alt-login-link {
  font-size: 12px;
}

input.submit {
  border: 0px;
  background-color: orange;
}
