.login-box {
  background-color: rgba(17,17,17,0.75);
  border-radius: 8px;
  color: white;
  width: 350px;
  min-height: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}



.login-box input {
    width: 100%;
}



.alt-login-link {
  font-size: 12px;
}
