.login-box {
  background-color: rgba(17,17,17,0.75);
  border-radius: 8px;
  color: white;
  width: 350px;
  min-height: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}



.login-box input {
    width: 100%;
}



.alt-login-link {
  font-size: 12px;
}




.dash-list {
  /*padding: 10px 5px  ;*/
  /*border-top: 1px solid grey;*/
  line-height: 1.25;
  font-size: 14px;
}

.dash-list h3 {
  color: #104DA1;
  font-size: 18px;
  padding: 5px 0;
}

.dash-list h4 {
  color: #686868;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 7px 0 0 0;
}

/*.dash-list div {
  line-height: 1.5;
}*/

.dash-list figure {
  display: inline-block;
  float: left;
  margin: 5px 20px 0px 5px;
}

.dash-list img {
  border: 1px solid lightgrey;

}

.dash-el-header {
  margin: 0 0 10px 0;
  display:flex;
  justify-content: space-between;
  border-bottom: 1px

}

.dash-el-container {
  padding: 10px;
  display: inline-block;
  /*border: 1px solid lightgrey;*/
  /*min-width: 300px;
  width: 50%%;*/
  width: 600px;

  margin:20px;
  float: left;
}


.create-runroute-container {
  padding: 10px;

}

.create-workout-container input {
  display: inline-block;
}

select#workout_type {
  width: 200px;
}

.form-container {
  padding: 10px ;
  display: inline-block;
}

.form-container>div {
  margin: 20px;
  display: inline-block;
  float: left;

}


.map-thumb-display {
  display: inline-block;
  position: relative;
}

.map-overlay-tile {
  position: absolute;
  background: white;
  box-shadow: 3px 3px 10px #888888;
  bottom: 15px;
  left: 16px;
  width: 115px;
  font-size: 12px;
  text-align: center;
}

.dash-route-list {
  display: inline-block;
  float: left;
  margin: 0 0 0 30px;
}

.dash-route-container {
  width:300px;
  float:left;
}

.saved-comments {
  border: 1px solid grey;
}

.comment-form {
  border: 1px solid grey;
}


.single-comment {
    padding: 5px 10px;
}



.workout-listing-detail {
  border-top: 1px solid grey;
  display: flex;
  padding: 10px;
}

.workout-listing-div-1 {
  border-right: 1px solid grey;
  width: 230px;
  text-align: left;
  line-height: 1.1;

}

.workout-listing-div-2 {
  border-right: 1px solid grey;
  width: 110px;
  text-align left;
  padding: 5px;



}

.workout-listing-div-3 {
  padding: 5px;
  width: 110px
}
