.login-box {
  background-color: rgba(17,17,17,0.75);
  border-radius: 8px;
  color: white;
  width: 350px;
  min-height: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}



.login-box input {
    width: 100%;
}



.alt-login-link {
  font-size: 12px;
}

.feed-list {
  /*padding: 10px 5px  ;*/
  /*border-top: 1px solid grey;*/
  margin-top: 30px;
  line-height: 1.25;
  font-size: 14px;
  transition: scale 0.2s;
}



.dash-list {
  /*padding: 10px 5px  ;*/
  /*border-top: 1px solid grey;*/
  margin-top: 30px;
  line-height: 1.25;
  font-size: 14px;
  transition: scale 0.2s;
}

/*.dash-list:hover {
  transform: scale(1.02);
}*/



.dash-list h3 {
  color: #104DA1;
  font-size: 18px;
  padding: 5px 0;
}

.dash-list h3:hover {
  color: #0b3774;
}



.dash-list h4 {
  color: #686868;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 7px 0 0 0;
}

/*.dash-list div {
  line-height: 1.5;
}*/

.dash-list figure {
  display: inline-block;
  float: left;
  margin: 5px 20px 0px 5px;
}

.dash-list img {
  border: 1px solid lightgrey;

}

.dash-el-header {
  margin: 0 0 10px 0;
  display:flex;
  justify-content: space-between;
}

.feed-header {
  margin: 0 0 10px 0;
  display:flex;
  justify-content: space-between;
  width: 100%;
}



.feed-header h5 {
  margin: 0 5px 0 0px;

}

.full-workouts {
  margin: 20px auto;
  width: 620px;
  padding: 20px 0 0 0 ;
}



.dash-el-container {
  padding: 10px;
  display: inline-block;
  /*border: 1px solid lightgrey;*/
  /*min-width: 300px;
  width: 50%%;*/
  width: 600px;

  margin:20px 20px 20px 40px;
  float: left;
}

/*.route-deet {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.create-runroute-container {
  padding: 10px;
  min-width: 400px

}

.create-workout-container label {
  display: inline-block;
  padding: 10px 30px 10px 0;
}

.create-workout-container input {
  margin: 10px;
  width: 300px;
}



.create-workout-container select {
  margin: 10px;
}

.create-workout-container textarea {
  margin: 10px;
  height: 125px;
  width: 400px;
}

.workout-form-row-last {
  display: flex;
  align-items: flex-start;
}

select#workout_type {
  width: 100px;
}

.form-container {
  padding: 10px ;
  width: 800px;
  margin: 0 auto;
  display: block;
}

.form-container>div {
  margin: 20px;
  display: inline-block;
  float: left;
}

.run-form-container {
  padding: 10px ;
  display: inline-block;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.run-form-container>div {
  margin: 30px;
}

.f-left {
  display: inline-block;
  float: left;
}

.inline {
  display: inline-block;
}


.map-thumb-display {
  display: inline-block;
  position: relative;
}

.map-overlay-tile {
  position: absolute;
  background: white;
  box-shadow: 3px 3px 10px #888888;
  bottom: 15px;
  left: 16px;
  width: 115px;
  font-size: 12px;
  text-align: center;
}

.dash-route-list {
  display: inline-block;
  float: left;
  margin: 0 0 0 30px;
}

.dash-route-container {
  width:300px;
  float:left;
  padding: 20px 20px 20px 40px;
}

.saved-comments {
  border-top: 1px solid grey;
}

.comment-form {
  /*border: 1px solid grey;*/
  margin: 10px 0 0 0;
  padding: 10px;

}

.comment-listing {
  padding: 0px 40px 50px 40px;
}

.comment-form textarea {
  width: 70%;
  display: inline-block;
  margin: 0 10px;

}

.comment-post-form {

}

.single-comment {
    padding: 5px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-comment div {
  display: flex;
  align-items: center;
}

.dash-route-container .dash-el-header {
  border-bottom: 1px solid grey;
  padding: 10px 0 19px 0;
}


.workout-listing-detail {
  border-top: 1px solid grey;
  display: flex;
  padding: 10px;
}

.workout-listing-div-1 {
  border-right: 1px solid grey;
  width: 230px;
  text-align: left;
  line-height: 1.1;

}

.workout-listing-div-2 {
  border-right: 1px solid grey;
  width: 110px;
  text-align: left;
  padding: 5px;
}

.workout-listing-div-3 {
  padding: 5px;
  width: 110px
}


.calories {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.feed-listing-header {
  display: block;
  width: 100%;
  margin: 30px 10px 10px 10px;
  padding: 20px 0 0 0;}

  .single-feed-header{
    margin: 10px 0 0 0;
    float: left;
    font-size: 18px;
  }

.feed-listing-header  figure {
  margin: 5px 10px 0 5px;
}

.followed-container{
  padding: 20px;
  background-color: #e6e6e6;
  line-height: 1.25;
}

.feed-page {
  display: flex;
}

.icon-panel{
  margin: 10px;
}
