.user-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.user-detail-container {
  text-align: center;
  margin: auto;
  padding: 20px 0 0 0;
  min-width: 300px;
  width: 50%
}


.connect-user-listing {
  display: inline-block;
  text-align: center;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
}

.unfollowed {
  background-color: #686868;
  color: white;
}
.unfollowed:hover {
  background-color: #4a5e08  ;
  color: black;
}

.followed {
  background-color: #b9ec13  ;
  color: black;
}

.followed:hover {
  background-color: #4a5e08;
  color: white;
}

.connect-container {
  width: 700px;
  margin: auto;
}
