.user-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.user-detail-container {
  text-align: center;
  margin: auto;
  padding: 20px 0 0 0; 
  min-width: 300px;
  width: 50%
}


.connect-user-listing {
  display: inline-block;
  text-align: center;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
}

.unfollowed {
  background-color: darkgrey;
  color: white;
}

.followed {
  background-color: #94bb0f  ;
  color: black;
}
