.dash-list h3 {
  color: blue;
  font-size: 16px;
  display: block;
}

.dash-list {

}

.dash-list {
  margin: 10px 5px  ;
  border-top: 1px solid grey;
  line-height: 1.25;
  font-size: 14px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}
