

.dash-list {
  padding: 5px 5px  ;
  border-top: 1px solid grey;
  line-height: 1.25;
  font-size: 14px;
}

.dash-list h3 {
  color: blue;
  font-size: 20px;
  margin: 5px;

}

.dash-list div {
  line-height: 1.5;
}

.dash-list figure {
  display: inline-block;
  float: left;
  padding: 10px 25px 0px 10px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

.dash-el-header {
  margin: 0 0 10px 0;
}

.dash-el-container {
  padding: 10px;
  display: inline-block;
  border: 1px dashed grey;
  min-width: 300px;
  width: 40%;
  margin:20px;
  float: left;
}


.create-runroute-container label{
  padding: 10px;
}

.create-workout-container input {
  display: inline-block;
}

select#workout_type {
  width: 200px;
}

.form-container {
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
