.dash-list h3 {
  color: blue;
  font-size: 16px;
  display: block;
}

.dash-list {

}

.dash-list {
  margin: 10px 5px  ;
  border-top: 1px solid grey;
  line-height: 1.25;
  font-size: 14px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}


.dash-el-container {
  padding: 10px;
  display: inline-block;
  border: 1px dashed grey;
  width: 40%;
  margin:20px;
  float: left;
}


.create-workout-container label{
  padding: 10px;
}

.create-workout-container input {
  display: inline-block;
}

select#workout_type {
  width: 200px;
}
